:root {
  font-family: 'Wallop', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  // grid
  --app-gutter: 1rem;

  //radius
  --app-radius-small: 1rem;
  --app-radius-reg: 2rem;
  --app-radius-large: 4rem;

  // color
  --app-color-black: #000000;
  --app-color-white: #FFFFFF;
  --app-color-main:       rgb(1 152 59);
  --app-color-main--dark: rgb(1, 96, 82);
  --app-color-green-light: #D3DABF;
  --app-color-yellow: #DFF43D;
  --app-color-yellow-light: #F1FAA8;
  --app-color-sage: #E0E6D0;
  --app-color-teal: #A2C2BD;
  --app-color-orange: hsl(40 80% 50% / 1);
  --app-color-red: hsla(0, 85%, 50%, 0.6);
  --app-color-grey:       hsl(143, 5%, 95%);

  // nav
  --app-nav__height: 3.8rem;

  // typo
  --app-bullet-size: .75em;

  // header
  --app-header-height: 100vh;
}
