:root {
  font-family: 'Wallop', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --app-base-padding-x: 0.5rem;

  @media (min-width: 768px) {
    --app-base-padding-x: 2.222222222rem;
  }

  @media (min-width: 1024px) {
    --app-base-padding-x: 4.44444444444rem;
  }

  // grid
  --app-gutter: 1rem;

  //radius
  --app-radius-small: 1rem;
  --app-radius-reg: 2rem;
  --app-radius-large: 4rem;

  // color
  --app-color-black: #000000;
  --app-color-white: #FFFFFF;
  --app-color-main:       #01983B;
  --app-color-main--dark: #016052;
  --app-color-green-light: #D3DABF;
  --app-color-yellow: #DFF43D;
  --app-color-yellow-light: #F1FAA8;
  --app-color-sage: #E0E6D0;
  --app-color-sage-dark: #CAD1B5;
  --app-color-teal: #A2C2BD;
  --app-color-orange: hsl(40 80% 50% / 1);
  --app-color-red: hsla(0, 85%, 50%, 0.6);
  --app-color-grey:       hsl(143, 5%, 95%);
  --app-color-grey-text: #A6A6A6;
  --app-color-orange-bright: #FF6F00;

  // nav
  --app-nav__height: 3rem;

  // typo
  --app-bullet-size: .75em;

  // header
  --app-header-height: calc(100svh - var(--app-nav__height));
  --app-header-title-size: 10vw;
  @media (min-width: 768px) {
    --app-header-title-size: 5rem;
  }
  @media (min-width: 981px) {
    --app-header-title-size: 6rem;
  }
  @media (min-width: 1281px) {
    --app-header-title-size: 7rem;
  }

  // podcast player
  --app-podcast-player-header-height: 2.5rem;
  --app-podcast-player-iframe-height: 152px;

  // reports
  --app-report-tab-min-height: 35rem;
  @media (max-width: 1024px) {
    --app-report-tab-min-height: calc(100dvh - var(--app-nav__height) - 4.22222222222rem);
  }
  --app-report-tab-padding-x: 1.33333333333rem;
  @media (min-width: 1281px) {
    --app-report-tab-padding-x: 5rem;
  }
  @media (min-width: 1461px) {
    --app-report-tab-padding-x: 7rem;
  }
  --app-report-tab-padding-y: 2rem;
  @media (min-width: 1281px) {
    --app-report-tab-padding-y: 4.77777777778rem;
  }

}
